<!-- Cookie Consent Banner -->
<div id="cookie-consent-banner" class="cookie-consent-banner d-none">
    <!-- Main View -->
    <div id="cookie-banner-main" class="cookie-banner-view">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h3>{{ 'cookies.title'|trans({}, 'cookies') }}</h3>
                    <p>
                        {{ 'cookies.main_text'|trans({}, 'cookies') }}
                    </p>
                    <p>
                        <a href="{{ path('privacy_policy') }}" target="_blank">
                            {{ 'cookies.privacy_link'|trans({}, 'cookies') }}
                        </a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="cookie-consent-buttons">
                        <button id="cookie-accept-all" class="btn btn-primary">
                            {{ 'cookies.buttons.accept_all'|trans({}, 'cookies') }}
                        </button>
                        <button id="cookie-accept-necessary" class="btn btn-outline-secondary">
                            {{ 'cookies.buttons.accept_necessary'|trans({}, 'cookies') }}
                        </button>
                        <button id="cookie-customize" class="btn btn-outline-light">
                            {{ 'cookies.buttons.customize'|trans({}, 'cookies') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Settings View -->
    <div id="cookie-banner-settings" class="cookie-banner-view d-none">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>{{ 'cookies.settings.title'|trans({}, 'cookies') }}</h3>
                    <p>
                        {{ 'cookies.settings.text'|trans({}, 'cookies') }}
                    </p>
                </div>
            </div>
            
            <div class="cookie-settings-section">
                <div class="row">
                    <div class="col-12">
                        <!-- Необходими бисквитки -->
                        <div class="cookie-type">
                            <h4>
                                {{ 'cookies.types.necessary.title'|trans({}, 'cookies') }}
                                <label class="cookie-switch cookie-necessary-label">
                                    <input type="checkbox" checked disabled>
                                    <span class="cookie-slider"></span>
                                </label>
                            </h4>
                            <p>
                                {{ 'cookies.types.necessary.text'|trans({}, 'cookies') }}
                            </p>
                        </div>
                        
                        <!-- Функционални бисквитки -->
                        <div class="cookie-type">
                            <h4>
                                {{ 'cookies.types.functional.title'|trans({}, 'cookies') }}
                                <label class="cookie-switch">
                                    <input type="checkbox" id="cookie-functional">
                                    <span class="cookie-slider"></span>
                                </label>
                            </h4>
                            <p>
                                {{ 'cookies.types.functional.text'|trans({}, 'cookies') }}
                            </p>
                        </div>
                        
                        <!-- Аналитични бисквитки -->
                        <div class="cookie-type">
                            <h4>
                                {{ 'cookies.types.analytics.title'|trans({}, 'cookies') }}
                                <label class="cookie-switch">
                                    <input type="checkbox" id="cookie-analytics">
                                    <span class="cookie-slider"></span>
                                </label>
                            </h4>
                            <p>
                                {{ 'cookies.types.analytics.text'|trans({}, 'cookies') }}
                            </p>
                        </div>
                        
                        <!-- Маркетингови бисквитки -->
                        <div class="cookie-type">
                            <h4>
                                {{ 'cookies.types.marketing.title'|trans({}, 'cookies') }}
                                <label class="cookie-switch">
                                    <input type="checkbox" id="cookie-marketing">
                                    <span class="cookie-slider"></span>
                                </label>
                            </h4>
                            <p>
                                {{ 'cookies.types.marketing.text'|trans({}, 'cookies') }}
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="cookie-consent-buttons mt-4">
                    <button id="cookie-back" class="btn btn-outline-secondary">
                        {{ 'cookies.buttons.back'|trans({}, 'cookies') }}
                    </button>
                    <button id="cookie-save-preferences" class="btn btn-primary">
                        {{ 'cookies.buttons.save_preferences'|trans({}, 'cookies') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cookie Settings Button -->
<div class="cookie-settings-widget">
    <a href="#" id="cookie-settings-btn" class="cookie-settings-btn" title="{{ 'cookies.settings.widget_title'|trans({}, 'cookies') }}">
        <i class="bi bi-shield-check"></i>
    </a>
</div> 