{% extends 'admin/base.html.twig' %}

{% block title %}{{ property.id ? 'Редактиране на имот' : 'Нов имот' }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" type="text/css" />
    {{ encore_entry_link_tags('admin-property-form') }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ property.id ? 'Редактиране на имот' : 'Нов имот' }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('admin_property_index') }}" class="btn btn-sm btn-outline-secondary">
                <i class="bi bi-arrow-left"></i> Назад
            </a>
        </div>
    </div>

    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <div class="row g-3">
                    <!-- Основна информация -->
                    <div class="col-md-6">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.titleEn) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.description) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.descriptionEn) }}
                    </div>
                    
                    <!-- Локация и карта -->
                    {% include 'admin/property/partials/_location_map.html.twig' %}
                    
                    <div class="col-md-6">
                        {{ form_row(form.type) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.price) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.area) }}
                    </div>

                    <!-- Характеристики -->
                    {% include 'admin/property/partials/_features.html.twig' %}

                    <!-- Статус -->
                    <div class="col-md-6">
                        {{ form_row(form.isFeatured) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.isAvailable) }}
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> {{ property.id ? 'Запази промените' : 'Създай имот' }}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Here Maps API -->
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
    
    <!-- Предаване на необходимите данни като data атрибути -->
    <div id="map-config" 
        data-api-key="{{ here_maps_api_key }}"
        data-latitude="{{ form.latitude.vars.value|default(42.6977) }}"
        data-longitude="{{ form.longitude.vars.value|default(23.3219) }}"
        data-latitude-field="{{ form.latitude.vars.id }}"
        data-longitude-field="{{ form.longitude.vars.id }}"
        data-location-field="{{ form.location.vars.id }}"
        data-geocode-button="geocodeAddress"
        data-geocode-input="address"
        data-geocode-results="geocodeResults"
        data-geocode-results-list="geocodeResultsList"
        data-map-element="locationMap">
    </div>
    
    {{ encore_entry_script_tags('admin-property-form') }}
{% endblock %} 