<div class="col-lg-4">
    <div class="card blog-card h-100">
        <div class="position-relative">
            <img src="{{ post.image_path ? '/uploads/blog/' ~ post.image_path : '/assets/images/no-image.jpg' }}" 
                 class="card-img-top" alt="{{ post.post_title }}"
                 style="height: 200px; object-fit: cover;">
            <div class="post-date">
                {{ post.created_at|date('d M Y') }}
            </div>
        </div>
        <div class="card-body p-4">
            <h5 class="card-title h4 mb-3">{{ post.post_title }}</h5>
            <p class="card-text">{{ post.post_content|striptags|slice(0, 150) }}...</p>
            <a href="/blog/{{ post.slug }}" class="btn btn-outline-primary">
                {{ translations.blog.read_more }}
            </a>
        </div>
    </div>
</div> 